
parallel/miniproject_0/\.idea/

parallel/miniproject_0/target/

parallel/week1/miniproject_1/\.idea/

parallel/week1/miniproject_1/target/

*.iml

parallel/week2/miniproject_2/\.idea/

parallel/week2/miniproject_2/target/

parallel/week3/miniproject_3/\.idea/

parallel/week3/miniproject_3/target/

parallel/week4/miniproject_4/\.idea/

parallel/week4/miniproject_4/target/

concurrent/week1/miniproject_1/\.idea/

concurrent/week1/miniproject_1/target/

concurrent/week2/miniproject_2/\.idea/

concurrent/week2/miniproject_2/target/

concurrent/week3/miniproject_3/\.idea/

concurrent/week3/miniproject_3/target/

concurrent/week4/miniproject_4/target/

concurrent/week4/miniproject_4/\.idea/

distributed/miniproject_1/\.idea/

distributed/miniproject_1/target/

distributed/miniproject_2/\.idea/

distributed/miniproject_2/target/

distributed/miniproject_3/\.idea/
